<!-- <app-reciepe> component definition -->

<div class="">
  <div class="row">
    <div class="col-md-5">
      <div class="well well-blue-shade">
        <app-create-reciepe></app-create-reciepe>
        <app-receipe-list class="display-inherit"></app-receipe-list>
        
         
        
      </div>

    </div>
    <div class="col-md-7">
      <div class="well well-blue-shade">
          <app-receipe-detail class=" display-inherit"></app-receipe-detail>
      </div>
    
    </div>
  </div>
</div>
